#dictionary{
    padding:20px;
    background-color:#e6edf0;
    border-radius:8px;
    color:#4e7686;
    margin-top:1rem;
}

#dictionary #search{
    margin-top:20px;
}

#dictionary #search input{
    padding:10px;
    width:100%;
    background-color:white;
    border:none;
    box-sizing:border-box;
    outline:none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size:1rem;
}

.buttons{
    display:flex;
    justify-content:flex-end;
    box-sizing: border-box;
    margin:auto;
}

.buttons #search-button{
    background-color:#658a99;
    padding:8px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size:1rem;
    font-weight: bold;
    color:white;
    cursor:pointer;
    width:fit-content;
    display:flex;
    border:2px solid #658a99;
    border-radius:0;
    align-items:center;
    margin-top:10px;
}

#dictionary #search-results{
    background-color: white;
    border-radius:8px;
    padding:15px;
}

#dictionary #search-results #word, #dictionary #search-results #pronunciation,#dictionary .def-box .type,#dictionary .def-box .definition,#dictionary .def-box .example{
    display:block;
    margin-bottom:5px;
}

#dictionary #search-results #top{
    margin-bottom:15px;
}

#dictionary #search-results #top #word{
    font-size:1.2rem;
    color:black;
}

#dictionary #search-results #top #pronunciation{
    font-size:0.8rem;
}

#dictionary .def-box{
    background-color:#F4F6F7;
    border-radius:8px;
    padding:10px;
    margin-top:10px;
}

#dictionary .def-box .type{
    font-size:0.8rem;
    color:black;
}

#dictionary .def-box .definition{
    font-size:1rem;
    margin:15px 0;
}


#dictionary .def-box .example{
    font-weight: normal;
    font-style:italic;
    font-size:0.9rem;
    color:#2E4053;
}