#notes{
    background-color:#658a99;
    padding:10px 15px;
    margin-bottom:50px;
    border-radius:8px;
    color:white;
}

#notes #loading{
    padding:10px;
    display:flex;
    align-items:center;
    justify-content: center;
}

.note{
    background-color:#e6edf0;
    padding:10px;
    margin:10px 5px;
    border-radius:8px;
}

.note-title{
    padding:8px;
    width:100%;
    max-height:4rem;
    font-size:1.2rem;
    box-sizing:border-box;
    outline:none;
    resize: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size:1.2rem;
    color:#658a99;
    border:none;
    background-color:#e6edf0;
    font-weight: bold;
}

/* .note .note-title:focus{
    background-color:white;
} */

.note-body{
    display:block;
    margin:auto;
    width:100%;
    padding:8px;
    box-sizing:border-box;
}

.note-textarea{
    padding:8px;
    width:100%;
    background-color:white;
    border:none;
    max-height:7rem;
    box-sizing:border-box;
    outline:none;
    resize: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size:1rem;
}

.buttons{
    display:flex;
    justify-content:flex-end;
    box-sizing: border-box;
    margin:auto;
}

.note .buttons .save-button, #create-note-button, .note .buttons .delete-button{
    background-color:#658a99;
    padding:8px;
    color:#f0ebf4;
    cursor:pointer;
    width:fit-content;
    display:flex;
    align-items:center;
    margin-right:8px;
    margin-bottom:5px;
}

.note .buttons .delete-button{
    background:transparent;
    border:2px solid #4e7686;
    color:#4e7686;
}

#notes #create-new-note{
    padding:10px;
    background-color:#4e7686;
    border:2px solid white;
    width:95%;
    margin:10px auto;
    border-radius: 8px;
    cursor:pointer;
    text-align:center;
    color:white;
}

#notes #create-new-note-box{
    background-color:#bed3db;
    padding:10px;
    margin:10px 5px;
    border-radius:8px;
}

#create-new-note-box .note-title{
    background-color:#bed3db;
}

#create-new-note-box .note-title::placeholder{
    color:white;
}
