#welcome{
    height:fit-content;
    width:fit-content;
    margin:auto;
    margin-bottom:50px;
    border:2px solid white;
    padding:25px;
    color:white;
    text-align:center;
    font-size:2.8rem;
}

@media all and (max-width:1000px){
    #welcome{
        font-size:2.5rem;
    }
}

@media all and (max-width:769px){
    #welcome{
        font-size:2.2rem;
    }
}

@media all and (max-width:600px){
    #welcome{
        font-size:2rem;
    }
}