#fact-box{
    margin-bottom:1rem;
    padding:20px;
    background-color:white;
    border-radius:8px;
    color:#4e7686;
    font-size:1.1rem;
}

#fact{
    display:block;
    margin-top:15px;
    line-height:1.6rem;
    color:black;
    background-color:white;
    font-size:1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: none;
}

#fact-box-loading{
    text-align:center;
    color:black;
    font-size:1rem;
    margin-bottom:1rem;
    padding:20px;
    background-color:white;
    border-radius:8px;
}