#news-box-nyt {
  padding: 10px;
  overflow: auto;
  border-radius: 8px;
  background-color: white;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#news-box-nyt #nyt-logo {
  margin: 20px auto 40px auto;
  height: 35px;
}

#news-box-nyt .news-list-item-nyt {
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.25s ease-in-out;
  padding:10px 0;
}

#news-box-nyt .news-list-item-nyt:nth-last-child(1) {
  border-bottom: none;
}

#news-box-nyt .news-list-item-nyt .nyt-img-holder {
  background-color: black;
  height: 100px;
  width: 100px;
  object-fit: cover;
}

#news-box-nyt .news-list-item-nyt .other-data {
  width: calc(100% - 150px);
  padding: 0 25px;
}

#news-box-nyt .news-list-item-nyt .other-data .nyt-title {
  display: block; 
}

#news-box-nyt .news-list-item-nyt:hover > .other-data .nyt-title{
  text-decoration: underline;
}

#news-box-nyt .news-list-item-nyt .other-data .pubdateandsubsection {
  font-size: 0.8rem;
  display: flex;
  margin-top:15px;
}

#news-box-nyt .news-list-item-nyt .other-data .pubdate {
  display: flex;
  align-items: center;
  width: fit-content;
}

#news-box-nyt .news-list-item-nyt .other-data .category {
  color: #658a99;
  margin: auto;
  margin-right: 0;
}
