/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;1,300&display=swap');

body {
  margin: 0;
  /* font-family: 'Inter', sans-serif; 
  font-family: 'Miriam Libre', sans-serif;*/
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight:bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor:default;
  /* background: url("./Wallpaper.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  background-color: #a1c3d1;
}

/* .vanta-canvas {
  width:100% !important;
  position: fixed !important;
} */

#bg{
  /*height and width are important*/
  width:100%;
  height:100vh; 
}

#titleandlogo{
  margin:auto;
  margin-top:25px;
  margin-bottom:75px;
  display:flex;
  width:95%;
  align-items: center;
}

#titleandlogo #title{
  color:white;
  font-size:1rem;
  margin-left:10px;
  letter-spacing: .5rem;
}

#titleandlogo #logo{
  height:40px;
}

#titleandlogo #time{
  font-size:0.8rem;
  margin:auto;
  margin-right:10px;
  color:white;
  /* padding:2px 10px; */
}

#body{
  width:85vw;
  margin:auto;
}


#body #widget-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-gap:1rem;
}